services:
  bot:
    image: witrixdiscordbot:latest
    build: .
    container_name: witrixdiscordbot
    restart: always
    env_file: .env
    network_mode: host
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/lib/witrixdiscordbot:/app/data
